*
{
    font-family: 'Yeseva One', cursive;
    box-sizing: border-box;
}

body
{   
    padding-top: 0;
    margin: 0;
    height: 100%;
}

.header
{
    background-image: url('https://images.unsplash.com/photo-1566455121867-a59951c0bfda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 70%;
    margin: 5% auto;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: bold;
    font-size: 30px;
    flex-direction: column;
    border-radius: 30px;
    overflow: hidden;
}

.title
{
    width: 630px;
    color: white;
    background-color: red;
    text-align: center;
}


.navbar
{
    display: flex;
    width: 100%;
    background-color: gray;
    height: 100px;
}

.logo
{
    width: 250px;
    height: 250px;
}

.logo img
{
    width: inherit;
    height: inherit;
}



.quiz
{
    width: 200px;
    background-color: tomato;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 50px;
    border: none;
}

.quiz:hover
{
    background-color: red;
    transition: 500ms;
}

.container
{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    font-size: 30px;
    padding: 100px;
    margin: 10px auto;
    border: 2px solid rgb(247, 218, 218);
    border-radius: 50px;
}

.question
{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    padding: 100px;
    margin-bottom: 70px;
    color: rgb(226, 0, 19);
    font-size: 30px;
    /* background-image: url('https://images.pexels.com/photos/3758756/pexels-photo-3758756.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260'); */
    background-image: url('https://images.unsplash.com/photo-1505751172876-fa1923c5c528?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.answer
{
    width: 100%;
    padding: 10px;
    text-align: center;
}

.option
{
    display: flex;
    width: 100%;
    border: 2px solid #72BCBD;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: #CD2D2A;
}

.option:hover
{
    color: #72BCBD;
    transition: 250ms;
    cursor: pointer;
}